section

  section.sec-slide(data-background="#F44336")
    h1.white.upper Aviso
    h3.white.upper.fragment Essa talk é sobre experiências!

  section.sec-slide(data-background="#795548")
    h1.white.upper Quem aqui...?

  section.sec-slide(data-background="#4CAF50")
    h1.white.upper Essa talk é pra vocês!
