section

  section.sec-slide(data-background="#795548")
    h1.upper.white Integração Contínua

  section.sec-slide

    h2 Nós temos...

    .col-3.fragment
      img(src="img/logos/travis.png", alt="Travis")
      p Travis
    .col-3.fragment
      img(src="img/logos/codeship.png", alt="Codeship")
      p Codeship
    .col-3.fragment
      img(src="img/logos/circle.png", alt="Circle")
      p Circle

    h2.fragment ...

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Travis & Codeship

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white Travis & Codeship...

    p.white.fragment ✔ Fácil configuração
    p.white.fragment ✔ Deployments simples
    p.white.fragment ✔ Integração com Github
    p.white.fragment ✔ Emails com reports de builds
    p.white.fragment ✔ Interface simples/agradável <3

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white Travis & Codeship...

    p.white.fragment ✔ Serviços de CI que atendem as necessidades básicas do projeto
    p.white.fragment Status: <b>Implementado</b>

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Code Climate

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white Code Climate...

    p.white.fragment ✔ Complexidade
    p.white.fragment ✔ Complexidade por Método
    p.white.fragment ✔ Duplicação de código
    p.white.fragment ✔ Quantidade de linhas de código
    p.white.fragment ✔ ...
    p.white.fragment ✔ Integração com Github
    p.white.fragment ✔ Emails com reports de qualidade

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white Code Climate...

    p.white.fragment ✔ Análise estática de qualidade de código executada automaticamente
    p.white.fragment Status: <b>Implementado</b>

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white David DM...

    p.white.fragment ✔ Análise de Dependências
    p.white.fragment ✔ Integração com Github

  section.sec-slide.text-left(data-background="#388E3C")

    h2.white David DM...

    p.white.fragment ✔ Visão geral das dependências (versão em uso, mais recente, o que está desatualizado...)
    p.white.fragment Status: <b>Implementado</b>

  section.sec-slide

    img(src="img/changes/print_badges.png", alt="Github Badges")
