section

  section.sec-slide(data-background="#4CAF50")
    h1.upper.white Só isso?

  section.sec-slide(data-background="#D32F2F")
    h1.upper.white Não :)

  section.sec-slide.left
    h3 Ainda falta...
    ul
      li.fragment Testes (End2End, Unitário, A/B)
      li.fragment Cobertura de Testes
      li.fragment Offline First
      li.fragment Reformulações no Design (Material?)
      li.fragment ...

  section.sec-slide(data-background="images/gifs/mission.jpg")
    h1.upper.white Sua missão, caso deseje aceitá-la...

  section.sec-slide.left
    ul
      li.fragment Estudar todas essas tecnologias <i>mind-blowing</i>
      li.fragment Contribuir para open source...
      li.fragment ... incluindo o Conf Boilerplate :)
      li.fragment Vir nos próximos meetups nos contar o que você tem feito de incrível :)
