section

  section.sec-slide(data-background="#00796B")
    h1.upper.white Contexto

  section.sec-slide(data-background="#607D8B")
    img(src="img/logos/fif15.png", alt="Front in Fortaleza")

  section.sec-slide(data-background="#607D8B")
    img(src="img/logos/conf-boilerplate.png", alt="Front in Fortaleza")

  section.sec-slide.text-left
    h3 Uma aplicação que...
    ul
      li.fragment Fosse Híbrida
      li.fragment Consumisse dados de um JSON remoto
      li.fragment Sintetizasse as mesmas informações do site
      li.fragment.upper ~ Duas semanas

  section.sec-slide
    img(src="img/other/schema.png", alt="Front in Fortaleza")
