section

  section.sec-slide(data-background="#795548")
    h1.upper.white Depuração

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Ionic Lab

  section.sec-slide(data-background="#388E3C")

    .col-desktop
      img(src="images/tools/lab.png", alt="Ionic Lab")

    p Debug Android e iOS simultaneamente
    pre
      code.
        $ ionic serve --lab

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Browser Sync

  section.sec-slide.left(data-background="#388E3C")

    h2.white Browser Sync...

    p.white.fragment ✔ Servidor de arquivos estáticos
    p.white.fragment ✔ Live Reload
    p.white.fragment ✔ Injeção de CSS
    p.white.fragment ✔ Sincronização de scrolls, clicks, dados, navegação etc
    p.white.fragment ✔ Painel de configuração

  section.sec-slide.left(data-background="#388E3C")

    h2.white Browser Sync...

    p.white.fragment ✔ Uma boa alternativa para debug
    p.white.fragment Status: <b>Implementado</b>
