section

  section.sec-slide(data-background="#00796B")
    h1.upper.white Ferramentas

  section.sec-slide

    h2 Ionic CLI

    pre
      code.
        $ npm install -g ionic

    p Facilita o processo de criação/execução/compilação/depuração de aplicações Ionic
      pre.fragment
        code.
          $ ionic start myapp [template]
          $ ionic setup sass
          $ ionic serve [options]
          $ ionic platform [OS]
          $ ionic run ios [options]
          $ ionic resources [options]
          $ ionic build [OS]

  section.sec-slide

    pre.fragment
      code.
        $ ionic start frontinfor sidemenu

    h2.fragment "Let there be code!"

    pre.fragment
      code.
        |-- www/
        |   |-- css/
        |   |   |-- style.css
        |   |-- images/
        |   |-- js/
        |   |   |-- app.js
        |   |   |-- controllers.js
        |   |-- templates/
        |   |-- index.html
        |-- hooks/
        |-- plugins/
        |-- scss/
        |-- bower.json
        |-- config.xml
        |-- gulpfile.js
        |-- ionic.project
        |-- package.json
