section(data-background="img/home.jpg")
  h1.red.upper.shadow Super Poderes
  h4.white.upper.shadow no Seu
  h1.blue.upper.shadow Workflow Ionic

  h5.white.text-left.upper @mabrasil
  h5.white.text-right.upper #Ionic Meetup Fortaleza
