section

  section.sec-slide.left(data-background="images/home.jpg")
    h3.secondary.upper Um projeto mobile
    h1.primary.upper open source
    h3.secondary.upper em
    h1.primary.upper duas semanas

    h5.brown.upper @mabrasil
    h5.brown.upper #Ionic Meetup Fortaleza

  section.sec-slide(data-background="#795548")
    h1.white.upper Ou

  section.sec-slide.left(data-background="#795548")
    h3.secondary.upper Melhorando seu
    h1.primary.upper workflow Ionic
