section

  section.sec-slide.text-left(data-background="img/home.jpg")
    h3.red.upper Um projeto mobile
    h1.blue.upper open source
    h3.red.upper em
    h1.blue.upper duas semanas

    h5.brown.upper @mabrasil
    h5.brown.upper #Ionic Meetup Fortaleza

  section.sec-slide(data-background="#795548")
    h1.white.upper Ou

  section.sec-slide.text-left(data-background="#795548")
    h3.red.upper Melhorando seu
    h1.blue.upper workflow Ionic
