section

  section.sec-slide(data-background="#795548")
    h1.upper.white Estilos

  section.sec-slide

    h2 Nós temos...

    .col-3.fragment
      img(src="images/logos/less.jpg", alt="Less")
      p Less
    .col-3.fragment
      img(src="images/logos/sass.jpg", alt="SASS")
      p SASS
    .col-3.fragment
      img(src="images/logos/stylus.jpg", alt="Stylus")
      p Stylus

    h2.fragment ...

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Stylus

  section.sec-slide.left(data-background="#388E3C")

    h2.white Stylus...

    p.white.fragment ✔ Variáveis
    p.white.fragment ✔ Aninhamento
    p.white.fragment ✔ Herança
    p.white.fragment ✔ Imports
    p.white.fragment ✔ Color Functions
    p.white.fragment ✔ Operações matemáticas
    p.white.fragment ✔ ...

  section.sec-slide.left(data-background="#388E3C")

    h2.white Stylus...

    p.white.fragment ✔ As vantagens que um pré processador de CSS traz
    p.white.fragment ✔ Uma dependência a menos (Ruby)
    p.white.fragment Status: <b>A ser implementado</b>

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Stylint

  section.sec-slide.left(data-background="#388E3C")

    h2.white Stylint...

    p.white.fragment ✔ Encontrar pequenos erros
    p.white.fragment ✔ Impor uma styleguide
    p.white.fragment ✔ Plugins para editores
    p.white.fragment ✔ Plugins para task runners

  section.sec-slide.left(data-background="#388E3C")

    h2.white Stylint...

    p.white.fragment ✔ Padronização
    p.white.fragment Status: <b>A ser implementado</b>

