section

  section.sec-slide(data-background="#795548")
    h1.upper.white Templating

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Jade

  section.sec-slide.left(data-background="#388E3C")

    h2.white Jade...

    p.white.fragment ✔ Tags
    p.white.fragment ✔ Variáveis/Locals
    p.white.fragment ✔ Atributos
    p.white.fragment ✔ Blocos de Estilo/Scripts
    p.white.fragment ✔ Código JS
    p.white.fragment ✔ Condicionais(if)/Iterações(each)
    p.white.fragment ✔ Filters
    p.white.fragment ✔ Mixins
    p.white.fragment ✔ Include/Extend


  section.sec-slide.left

    h2 Antes...

    script(src="https://gist.github.com/mabrasil/f8ada9fc5a57684554c7.js")

  section.sec-slide.left

    h2 Depois...
    script(src="https://gist.github.com/mabrasil/26bb6fcb17eda734c7e1.js")

  section.sec-slide.left(data-background="#388E3C")

    h2.white Jade...

    p.white.fragment ✔ Produtividade
    p.white.fragment ✔ Legibilidade
    p.white.fragment ✔ Manutenibilidade
    p.white.fragment Status: <b>Implementado</b>

  section.sec-slide(data-background="#388E3C")
    h1.upper.white Html2TS

  section.sec-slide.left(data-background="#388E3C")

    h2.white Html2TS...

    p.white.fragment ✔ Servir HTML como string dentro do Javascript
    p.white.fragment ✔ Templates já carregados em cache
    p.white.fragment ✔ Menos requisições

  section.sec-slide.left(data-background="#388E3C")

    h2.white Html2TS...

    p.white.fragment ✔ Performance
    p.white.fragment Status: <b>A ser implementado</b>
